body {
  background-image: url(../images/what-the-hex-dark.png);
  background-color: #616469;
}

.container {
    position: relative;
    width: 100%;
    max-width: 200px;
    padding: 0;
  }
  
  .card-columns {
   column-count: 3;
   column-width: 220px;
   height: 100%;
  }

  .card {
    max-width: 18rem;
    position: relative;
    display: inline-block;
   
  }
  .hidden {
      display: none;
  }
  

  .gif {
    z-index: 0;
    width: 100%;
  }
  
 
  .icon {
    z-index: 1000;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .icon:hover{
    color: #ff0000;
  }

  .fas{
    color: #ff0000;
  }

  label {
    margin-left:10px;
    margin-top:50px;
  }
  input {
    margin-left: 10px;;
  }

  #add-button {
    float: right;
    margin-right: 10px;
  }

  .btn-block{
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 20px;
  }
  .btn-dark {
    margin: 5px;
  }

  #aside {
    color: #ffffff;
    position:fixed;
    top: 0;
    left:0;
    bottom:0;
    background-image: url(../images/what-the-hex-dark.png);
    background-color: #000000;
    max-width: 200px; 
    /* border-right: #ffffff solid 1px; */
    padding: 10px;
  }

  #topics {
    margin-left: 205px;
  }

  #images {
    margin-left: 215px;
    margin-top: 15px;
    margin-right: 15px;
  }

  @media screen and (max-width: 640px) {
  
  aside {
    max-width: 110px !important;
  }

  #logo{
    max-width: 100px;
  }

  .btn-block {
    max-width: 100px;
    margin-top: 10px;
    margin-left: 5px;
  }

  label{
    margin-top: 15px;
    margin-left: 5px;
  }

  input {
    max-width: 80px;
    margin-left: 5px;
  }
  
  #add-button {
    float: left;
    margin-left: 5px;
    margin-top:5px;
  }

  #topics {
    margin-left: 115px;
  }

  .btn-dark {
    font-size: small;
    padding: 6px;
    margin: 3px;
  }

  #images {
    margin-left: 115px;
    margin-top: 15px;
    margin-right: 15px;
  }

  .card-title{
    font-size: medium;
    margin: 2px 2px 5px 2px;
  }

  .card-body {
    padding: 5px 2px 0 2px;
  }

  }