body {
  background-color: #616469;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    max-width: 200px;
    padding: 0;
  }
  
  .card-columns {
   column-count: 3;
   column-width: 220px;
   height: 100%;
  }

  .card {
    max-width: 18rem;
    position: relative;
    display: inline-block;
   
  }
  .hidden {
      display: none;
  }
  /* Make the image to responsive */
  .gif {
    z-index: 0;
    width: 100%;
  }
  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .icon {
    z-index: 1000;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .icon:hover{
    color: #ff0000;
  }
  input {
    margin-left: 10px;;
  }
  #aside {
    color: #ffffff;
    position:fixed;
    top: 0;
    left:0;
    bottom:0;
    background-color: #000000;
    max-width: 200px; 
  }

  #topics {
    margin-left: 205px;
  }

  #images {
    margin-left: 205px;
  }