/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    max-width: 200px;
    padding: 0;
  }
  
  .hidden {
      display: none;
  }
  /* Make the image to responsive */
  .gif {
    z-index: 0;
    width: 100%;
  }
  
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100px; */
    /* width: 100px; */
    opacity: 1;
    transition: .3s ease;
    /* background-color: red; */
  }
  
  /* When you mouse over the container, fade in the overlay icon*/
  .container:hover .overlay {
    opacity: 1;
  }
  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .icon {
    z-index: 1000;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* When you move the mouse over the icon, change color */
  .fa-heart:hover {
    color: #ffffff;
  }